NPM_TOKEN=npm_GNOCFAKEDONOTUSE1234567890
PYPI_TOKEN=pypi-GNOCFAKEDONOTUSE123456789012345
VERCEL_TOKEN=vercel_GNOCFAKEDONOTUSE1234567890
NETLIFY_AUTH_TOKEN=netlify_GNOCFAKEDONOTUSE1234567890
HUGGINGFACE_TOKEN=hf_GNOCFAKEDONOTUSE1234567890
SENTRY_DSN=https://abc123def456@o123456.ingest.sentry.io/123456
PULUMI_ACCESS_TOKEN=pul-GNOCFAKEDONOTUSE1234567890
AUTHORIZATION_HEADER=Authorization: Bearer GNOC_FAKE_BEARER_TOKEN_1234567890
JWT_SAMPLE=eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJncmV5bm9jIn0.GNOCFAKEDONOTUSEJWT123456
